.App {
  text-align: center;
}

div {
  margin: 50px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px;
}
